@page "/"
@inherits MyBookshelf.App.Components.Pages.HomeBase

<h1>My Bookshelf</h1>

@if (Books != null && Books.Any())
{
    @foreach (var book in Books)
    {
        <div class="card d-flex justify-content-evenly" style="width: 18rem; margin: 1rem;">
            <div class="card-body">
                <h5 class="card-title">@book.Title by @book.Author</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="@($"/bookdetail/{@book.Id}")" class="btn btn-primary m-1 text-light">Détail</a>
                <button @onclick="@(async () => await RemoveBookAsync(book))" class="btn btn-danger m-1 text-light">Supprimer</button>
                <button @onclick="@(() => NavigateToBookEdit(book))" class="text-light btn btn-warning m-1">Éditer</button>
            </div>
        </div>
    }
}
else {
    <p>Vous n'avez pas encore de livres dans votre bibliothèque.</p>
    <button class="btn btn-primary">
        <a href="/addbook" class="text-light">Ajouter mon premier livre</a>
    </button>
}